<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Join Meeting</title>
    <link rel="stylesheet" href="style_entry.css">
    <script defer>
        const status = "<%=status%>"
        if (status == 400) {
            alert("Invalid Room Code!");
        }
    </script>
</head>

<body>
    <div class="container">
        <!-- form -->
        <form class="form" id="login" method="post" action="/chat">
            <h1 class="form__title">Join Meeting</h1>

            <div class="form__input-group">
                <input type="text" class="form__input" id="roomCodeInput" name="roomCode" autofocus placeholder="Enter meeting Id" required>
            </div>

            <div class="form__input-group">
                <input type="text" class="form__input" name="userName" autofocus placeholder="Enter your name" required>
            </div>

            <button class="form__button" type="submit">Join</button>

            <p class="form__text">
                <a href="#" class="form__link">Sign in with your Account</a>
            </p>

            <p class="form__text">
                <a class="form__link" href="/entry_new_room" id="linkCreateAccount">Create New Meeting</a>
            </p>
        </form>
    </div>
</body>