<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Star Rating Form | CodingNepal</title>
    <link rel="stylesheet" href="style_review.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div class="post">
            <div class="text">Thanks for rating us!</div>
            <div class="edit">EDIT</div>
        </div>
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form action="#">
                <header></header>
                <div class="textarea">
                    <textarea cols="30" placeholder="Describe your experience.."></textarea>
                </div>
                <div class="btn">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const btn = document.querySelector("button");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const editBtn = document.querySelector(".edit");
        btn.onclick = () => {
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = () => {
                widget.style.display = "block";
                post.style.display = "none";
            }
            return false;
        }
    </script>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
    <link rel="stylesheet" href="style_review.css" />
</head>

<body>
    <!-- Design by Ildiesign - https://dribbble.com/shots/7292664-Survey-UI-Design -->
    <!-- Icons by - https://www.flaticon.com/authors/roundicons -->
    <div id="panel" class="panel-container">
        <strong>How satisfied are you with our<br />
        application experience?</strong>
        <div class="ratings-container">
            <div class="rating">
                <img src="https://image.flaticon.com/icons/svg/187/187150.svg" alt="" />
                <small>Unhappy</small>
            </div>
            <div class="rating">
                <img src="https://image.flaticon.com/icons/svg/187/187136.svg" alt="" />
                <small>Neutral</small>
            </div>
            <div class="rating active">
                <img src="https://image.flaticon.com/icons/svg/187/187133.svg" alt="" />
                <small>Satisfied</small>
            </div>
        </div>
        <form method="post" action="/submit_feedback">
            <!-- <header></header> -->
            <div class="textarea">
                <textarea rows="5" cols="35" name="user_review" placeholder="Describe your experience.."></textarea>
            </div>
            <!-- <div class="btn">
                <button type="submit">Post</button>
            </div> -->
            <button class="btn" id="send" type="submit">Send review</button>
        </form>
    </div>
</body>
<script src="review_script.js"></script>

</html>