<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
    <link rel="stylesheet" href="style_review.css" />
</head>

<body>
    <div id="panel" class="panel-container">
        <i class="fas fa-heart"></i>
        <strong>Thank you!</strong>
        <p>We'll use your feedback to improve our application service.</p>

        <!-- exit button -->
        <a href="/exit"><button class="btn">Done</button></a>
    </div>
</body>
<script src="review_script.js"></script>

</html>